
@font-face {
  font-family: "Dongle";
  src: url("/fonts/Dongle_Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dongle";
  src: url("/fonts/Dongle.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Dongle", ui-sans-serif, system-ui, sans-serif;
  font-weight: 300; /* Light */
}